<h2> Results: <%= @query %></h2>

<ol class="recomendations">
<% @response['results'].each do |r| %>

<li>
	<span class="business_name"><%= r['name'] %></span>
	<span class="business_infor"><%= r['formatted_address'] %></span>
	<span class="delete">more</span>
	<%= submit_tag "Add", class: "btn btn-primary" %>
</li>
<% end %>
</ol>


