<% provide(:title, 'Contact') %>
  
  <div id="container wb">
		<div class="container">
			<div class="row centered">
				<h1>Contact My Foodie Circle</h1>
				<br>
				<h3>Have questions or comments, please get in touch.</h3>		
			</div>
		</div>
	</div>


