<% provide(:title, 'Help') %>

<div id="container wb">
		<div class="container">
			<div class="row centered">
				<h1>My Foodie Circle Help</h1>
			
				<h3>This page will provide help with commonly asked questions and issues.</h3>		
			</div>
			<div class="row">
				<div class="col-md-12">
					<ul>
						<li> All email address and passwords are stored securely and never given out</li>
						<li>The quick search feature uses the Google Places API:
							<ul>
								<li>The more information you provide the better the results</li>
								<li> At a minimum provide a restaurant and city</li>
								<li> You can also just search restaurant and zip</l1>
								</ul>
							</li>
						<li>Gravatars are provided by Wordpress and used across a wide variety of sites.  If you would like to edit it please visit <a href="http://gravatar.com/emails">Gravatar</a> to make any changes</li>	
					</ul>
				</div>
			</div>
		</div>
	</div>


