<% provide(:title, 'Help') %>

<div id="dg margin-fix">
		<div class="container">
			<div class="row centered">
				<h1>My Foodie Circle Help</h1>
				<br>
				<h3>This page will provide help with commonly asked questions and issues.</h3>		
			</div>
		</div>
	</div>


